
body {
  max-width: 100%;
  /* min-width: 1200px; */
  margin: 0 auto;
  text-align: center;
  font-family: Lucida Calligraphy;
  font-size: 16px;
  background: blue;
  color: white;
}
a {
  display: block;
  color:inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color:inherit;
}
h1,h2,h3,h4,h5{
  padding:0;
  margin:0;
}
.row {
  max-width: 1200px;
  margin: 0 auto;
}
h1{
    font-size: 50px;
    color: #00f3db;
    margin: 20px 0 10px;
    font-weight: 700;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
    color: #00f3db;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li{
    list-style: none;
}

/*HEADER*/

.header .row .header_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header .row img{
    width: 40%;
    border-radius: 50%;
}
.header .row a{
    margin: 25px 0 0;
}
.header .row .header_bottom ul{
    justify-content: center;
    list-style: none;
}
.header .row .header_bottom ul li a{
    background: red;
    padding: 20px 7px;
    margin: 0 10px;
    border-radius: 8px;
    white-space: nowrap;
}
.header .row .header_bottom ul li a:hover{
    background: lightblue;
    color: black;
    transition: 0.3s ease-in-out;
}

/*BANNER*/
.pages_banner{
    border: 1px solid red;
    width: 40%;
    margin: 0 auto 25px;
    padding: 15px 10px 10px 10px;
}
.pages_banner p{
    margin: 0 auto;
}
.pages_banner p:nth-of-type(1){
    margin: 0 auto 20px;
}
.email_link{
    display: inline-block;
    color: #00f3db;
    text-decoration: underline;
}


/*SECTION*/
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section h3{
    margin: 0 auto 25px;
}

.upper_section, .lower_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.upper_section img, .lower_section img{
    width: 95%;
}

.section_1,.section_2,.section_3,.section_4,.section_5{
    margin: 10px auto;
    width: 70%;
    border: 1px solid red;
    padding: 20px;
}

.section p{
    margin: 15px auto;
    /* color: #F9F794; */
}


/*slider*/
.img_slide{
    width: 55%;
    height: 450px;
    margin: 25px auto;
}
/*end of slider*/

/*FOOTER*/
.footer{
    border-top: 1px solid #00f3db;
    margin: 50px auto 20px;
    padding: 20px 0 0 0;
}

/*NUTRITION*/
#img_month_theme{
    width: 100%;
}
.nutrition-section-ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.nutrition-section-ul li{
    margin: 5px 0;
}

/*COVID*/
.covid-ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.covid-ul li{
    list-style: disc;
    margin-left: 25px;
}
.covid-h4{
    color: #00f3db;
}

/*MED TECH*/
.med-tech-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.med-tech-div:nth-of-type(2){
    flex-direction: row;
    margin-top: 20px;
}
.med-tech-div img{
    width: 100%;
}
.med-tech-div-lower{
    width: 90%;
}
.med-tech-div-lower img{
    width: 90%;
}
#iframe{
    width: 700px;
    height: 500px;
}
.med-tech-section img{
    width: 50%;
}


@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}

    .pages_banner{
        width: 70%;
    }
    .pages_banner img{
        width: 100%;
    }
    .banner{
        width: 100%;
    }
}

@media screen and (max-width: 950px){
	.header .row .header_bottom ul li a{
        font-size: 15px;
    }
}

@media screen and (max-width: 885px){
	.header .row .header_bottom ul li a{
        margin: 0 5px;
        font-size: 14px;
    }
}


@media screen and (max-width: 800px){
	.header .row .header_bottom ul{
        flex-direction: column;
    }
    .header .row .header_bottom ul li a{
        margin: 5px auto;
        font-size: 21px;
    }
    .img_slide{
        width: 80%;
        height: 420px;
    }
    .header .row img{
        width: 50%;
    }
    .upper_section a, .lower_section a{
        font-size: 21px;
    }
    .pages_banner{
        width: 80%;
    }
    h2{
        font-size: 30px;
    }
    #iframe{
        width: 450px;
        height: 300px;
    }
    .med-tech-section img{
        width: 80%;
    }
    .pages_banner img{
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 620px){
    #iframe {
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width: 600px){
    .header .row img{
        width: 70%;
    }
    .header .row .header_bottom ul li a{
        margin: 10px auto;
    }
    .img_slide{
        height: 400px;
    }
}

@media screen and (max-width: 545px){
    #iframe {
        width: 300px;
        height: 200px;
    }
    .med-tech-section img {
        width: 90%;
    }
}

@media screen and (max-width: 425px){
    .header .row img{
        width: 90%;
    }
    .header_bottom{
        width: 90%;
    }
    .img_slide{
        height: unset;
    }
    .header .row .header_bottom ul li a{
        font-size: 16px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 19px;
    }
    .nutrition-section-ul{
        padding: 0;
    }
    p{
        font-size: 14px;
    }

}

@media screen and (max-width: 375px){
    .header .row img{
        width: 100%;
    }
    .nutrition-section-ul{
        text-align: center;
    }
    #iframe {
        width: 90%;
        height: unset;
    }

}

@media screen and (max-width: 375px){


}
