
body {
  max-width: 100%;
  /* min-width: 1200px; */
  margin: 0 auto;
  text-align: center;
  font-family: Lucida Calligraphy;
  font-size: 16px;
  background: blue;
  color: white;
}
a {
  display: block;
  color:inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color:inherit;
}
h1,h2,h3,h4,h5{
  padding:0;
  margin:0;
}
.row {
  max-width: 1200px;
  margin: 0 auto;
}
h1{
    font-size: 50px;
    color: #00f3db;
    margin: 20px 0 10px;
    font-weight: 700;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
    color: #00f3db;
}

/*HEADER*/

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li{
    list-style: none;
}

.header .row .header_top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header .row img{
    width: 40%;
    border-radius: 50%;
}
.header .row a{
    margin: 25px 0 0;
}
.header .row .header_bottom ul{
    justify-content: center;
}
.header .row .header_bottom ul li a{
    background: red;
    padding: 20px 7px;
    margin: 0 10px;
    border-radius: 8px;
    white-space: nowrap;
}
.header .row .header_bottom ul li a:hover{
    background: lightblue;
    color: black;
    transition: 0.3s ease-in-out;
}

/*BANNER*/
.pages_banner{
    border: 1px solid red;
    width: 40%;
    margin: 0 auto 25px;
    padding: 15px 10px 10px 10px;
}
.pages_banner p{
    margin: 0 auto;
}
.pages_banner p:nth-of-type(1){
    margin: 0 auto 20px;
}
.email_link{
    display: inline-block;
    color: #00f3db;
    text-decoration: underline;
}


/*SECTION*/
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upper_section, .lower_section{
    display: flex;
    flex-direction: row;
}

.section_1,.section_2,.section_3,.section_4{
    margin: 10px auto;
    width: 70%;
    border: 1px solid red;
    padding: 20px;
}

.section p{
    margin: 15px auto;
    /* color: #F9F794; */
}


/*slider*/
.img_slide{
    width: 55%;
    height: 450px;
    margin: 25px auto;
}
/*end of slider*/

/*FOOTER*/
.footer{
    border-top: 1px solid #00f3db;
    margin: 50px auto 20px;
    padding: 20px 0 0 0;
}


/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
